*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ELEMENTS */

body{
    height: 100vh;
    background-color: black;

}
h1{
    
    display: inline-block;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    font-size: 35px;
    border-style: solid;
    border-radius: 10px;
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #202020);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #202020); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    border-color: black;
    font-family: 'Azonix', Helvetica, Arial;
    box-shadow: 0px 0px 10px  #ff0000;
}

h1:hover{
    box-shadow: 0px 0px 12px whitesmoke;
    color: white;
    border-color: whitesmoke;
}

/* Class */

.container{
    width: 100%;
    text-align: center;
    
}
.game{
    
    margin: 0 auto;
    width: 900px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1200px;
}

.card{
    width: calc(16.666666667% - 8px);
    height: calc(33.333% - 8px);
    position: relative;
    margin: 4px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .6s;
    box-shadow: 0px 0px 3px  #ff0000;
}

.card:hover{
    box-shadow: 0px 0px 8px whitesmoke;
}

.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.front, 
.back{
    width: 100%;
    height: 100%;
    padding: 0px;
    position: absolute;
    background:  #202020;
    
    backface-visibility: hidden;

}

.front{
    transform: rotateY(180deg);
    background:  whitesmoke;
}


.card.turn{
    transform: rotateY(180deg);
    box-shadow: 0px 0px 8px whitesmoke;
}
